footer{
  background-color: $gray-lightest;
  padding-top: 60px;
  color: $gray-darker;
  text-transform: uppercase;
  p{
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 18px;
    &.lower-case{
      text-transform: none;
      margin-bottom: 50px;
    }
  }
  a{
    font-size: 14px;
    display: block;
    margin-bottom: 3px;
    color: $gray-darker;
    &:hover{
      color: $gray-darker;
      text-decoration: none;
    }
  }
  .image-container{
    position: relative;
    height: 205px;
    img{
      position: absolute;
      right: 0;
      bottom: 50px;
    }
  }

}

@media(max-width: $screen-md-max){

}

@media(max-width: $screen-sm-max){

}

@media(max-width: $screen-xs-max){

  footer{
    padding-top: 30px;
    .image-container{
      height: 100px;
      img{
        right: auto;
        left: 15px;
        width: 200px;
      }
    }

  }


}
