header{
  height: 60px;
  background-color: white;
  border-bottom: 1px solid rgba(236, 236, 236, 0.8);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  .container{
    position: relative;
    .brand{
      position: absolute;
      display: block;
      left: calc(50% - 40px);
      top: 14px;
    }
    .menu-container{
      margin-top: 18px;
      display: inline-block;
      cursor: pointer;
      span{
        vertical-align: middle;
        .page-title{
          color: $gray-dark;
          display: inline;
        }
      }
      img{
        margin-right: 5px;
      }
    }
  }
}

#black-overlay{
  display: none;
  background: #000;
  opacity: 0.8;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  z-index: 1020;
  top: 0;
  right: 0;
}

.lock {height:100%;overflow:hidden;width:100%;position:fixed;-webkit-overflow-scrolling: touch;}

.navbar-fixed-top{
  z-index: 1010;
}

.navmenu-default{
  background: $orange;
  border: 0;
  color: white;
  width: 90%;
  max-width: 500px;
  padding: 25px 50px;
  .navmenu-nav {
    li{
      &.menu-title{
        a{
          font-size: 14px;
          border-top: solid 2px white;
          border-bottom: solid 2px white;
          padding: 14px 0;
          margin-bottom: 8px;
          margin-top: 25px;
          &:hover, &:focus, &:visited{
            opacity: 1;
          }
        }
      }
      a{
        font-size: 12px;
        padding: 12px 0;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        &:hover, &:focus, &:visited{
          color: white;
          opacity: 0.6;
          background-color: rgba(0,0,0,0);
        }
      }
    }

    .current-menu-item{
      color: red;
      a{
        color: red;
        opacity: 0.6;
        background-color: rgba(0,0,0,0);
        &:hover, &:focus, &:visited{
          color: white;
          background-color: rgba(0,0,0,0);
          opacity: 1;
        }
      }
    }
  }

  .cross-container-container{

    .cross-container{
      display: inline-block;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      margin-left: 10px;
      //margin-bottom: 20px;
      .cross {
        background: white;
        height: 28px;
        position: relative;
        width: 2px;
      }
      .cross:after {
        background: white;
        content: "";
        height: 2px;
        left: -13px;
        position: absolute;
        top: 13px;
        width: 28px;
      }
    }
  }



}

@media(max-width: $screen-md-max){

}

@media(max-width: $screen-sm-max){

  header{
    .container{
      .menu-container{
        span{
          display: none;
        }
      }
    }
  }

}

@media(max-width: $screen-xs-max){

  header{
    height: 50px;
    background-color: white;
    border-bottom: 1px solid rgba(236, 236, 236, 0.8);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    .container{
      position: relative;
      .brand{
        position: absolute;
        display: block;
        left: calc(50% - 33px);
        top: 14px;
        img{
          width: 80px;
        }

      }
      .menu-container{
        margin-top: 15px;
      }
    }
  }


}
