
//home

#first-top{
  background: url("../images/first-top-back.jpg") no-repeat center center;
  background-size: cover;
  text-align: center;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  min-height: 970px;
  padding: 0;
  .container{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    .text-box{
      background-color: white;
      text-align: center;
      padding: 60px;
      img{
        margin-bottom: 15px;
      }
      p{
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 16px;
      }
      .button{
        display: inline-block;
        padding: 15px 60px;
      }
    }
    .down-button{
      &:hover{
        cursor: pointer;
      }
      .down-text{
        color: white;
        font-size: 18px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;
      }
      .down-chavron{
        display: inline-block;
        &:before {
          border-style: solid;
          border-width: 2px 2px 0 0;
          border-color: white;
          content: '';
          display: block;
          height: 40px;
          transform: rotate(135deg);
          width: 40px;

        }
      }
    }

  }
}

#first-content{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  h2{
    margin-bottom: 40px;
  }
  p{
    line-height: 30px;
  }
  .circles-title{
    font-size: 14px;
    font-weight: 700;
    color: $gray-darker;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .circle{
    display: inline-block;
    height: 164px;
    width: 164px;
    border-radius: 50%;
    border: 1px solid $gray;
    text-align: center;
    color: $text-color;
    text-decoration: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin-bottom: 30px;
    overflow: hidden;
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    &:hover{
      background-color: $orange;
      color: white;

    }
    p{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 16px;
      padding: 5px;
    }
  }
}


//pages

#page-top{
  background-size: cover;
  margin-top: 60px;
  .entry-title-container{
    height: 600px;
    margin-top: -20px;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    h1{
      color: white;
      text-transform: uppercase;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

}

.page-content{
  padding-top: 70px;
  padding-bottom: 100px;
  h2, h3{
    color: $red;
  }
  h2{
    margin-top: 40px;
    margin-bottom: 0;
  }
  h3{
    margin-top: 25px;
    margin-bottom: 5px;
  }
  .intro-text{
    p{
      font-size: 18px;
      font-weight: 700;
      line-height: 36px;
    }
  }
  .page-text{
    overflow: hidden;
  }
  .show-more{
    margin-top: 40px;
    display: none;
  }
  .page-side{
    .print-button{
      background-color: $blue;
      color: white;
      text-transform: uppercase;
      font-size: 12px;
      padding: 27px 30px;
      display: block;
      text-decoration: none;
      img{
        float: right;
      }
    }
    h3{
      color: $blue;
      margin-top: 35px;
      margin-bottom: 15px;
    }
    ul{
      background-color: $gray-lighter;
      list-style: none;
      padding-left: 30px;
      padding: 30px;
      li{
        margin-bottom: 20px;
        a{
          color: $gray-darker;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 15px;
          display: block;
          &:hover,&:focus{
            text-decoration: none;
          }
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

}

@media(max-width: $screen-md-max){

}

@media(max-width: $screen-sm-max){

  #page-top{
    margin-top: 50px;
    .entry-title-container{
      height: 500px;
      h1{
        font-size: 44px;
      }
    }
  }

}

@media(max-width: $screen-xs-max){

  #first-top{
    min-height: 675px;
    padding: 0 15px;
    .container{
      .text-box{
        padding: 30px 15px;
        img{
          width: 140px;
        }
      }
    }
  }

  #first-content{
    padding-top: 30px;
    padding-bottom: 50px;
    h2{
      margin-bottom: 30px;
    }
    .circle{

      &:hover{

      }
      p{

      }
    }
  }

  #page-top{
    margin-top: 50px;
    .entry-title-container{
      height: 320px;
      h1{
        font-size: 28px;
      }
    }
  }

  .page-content{
    padding-top: 40px;
    padding-bottom: 60px;
    h2{
      margin-top: 25px;
      margin-bottom: 5px;
    }
    h3{
      margin-top: 25px;
    }
    .intro-text{
      p{
        font-size: 14px;
        line-height: 30px;
      }
    }
    .page-side{
      .print-button{
        margin-top: 50px;
      }
    }
  }

}

