@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body{
  font-family: 'Montserrat', sans-serif;
  color: $text-color;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1{
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 56px;
}

h2{
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

h3{
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

p{
  font-size: 16px;
  line-height: 30px;
}

ul{
  li{
    font-size: 16px;
    line-height: 30px;
  }
}

.button{
  font-size: 14px;
  font-weight: 700;
  display: block;
  border: 1px solid $gray;
  text-transform: uppercase;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  &:hover{
    text-decoration: none;
    background-color: $gray-lightest;
    border-color: $gray-lightest;
  }
  &:focus{
    text-decoration: none;
  }
}

@media(max-width: $screen-md-max){

}

@media(max-width: $screen-sm-max){

}

@media(max-width: $screen-xs-max){

  h1{
    font-size: 34px;
    line-height: 32px;
  }

  h2{
    font-size: 28px;
  }

  h3{
    font-size: 18px;
  }
  p{
    font-size: 14px;
    line-height: 30px;
  }
  ul{
    li{
      font-size: 14px;
      line-height: 30px;
    }
  }
}
