// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #222222;

$gray-darker:           #666666;
$gray-dark:             #999999;
$gray:					        #dddddd;
$gray-lighter:          #eeede9;
$gray-lightest:         #f5f5f5;
$text-color:		        #222222;
$orange:				        #ea5c40;
$red:                   #d8003d;
$blue:                  #41b9bb;
